/* strikethrough {
  text-decoration-line: line-through
}
used for todo list when one todo is completed  */

body {
      color: white;
      text-shadow: 1px 1px rgb(31, 31, 31);
      height: 100%; 
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

/* bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
} */

.force-to-bottom {
  position:absolute;
  bottom: 5%;
  width: 50%;
}